@import "variable.styl"

body,html
    line-height:1
    user-select:none
    background:$color-banckground
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    -webkit-tap-highlight-color:transparent
    color:$color-text